@model IEnumerable<SAAS_Deployment.ViewModel.ApplicationUserRole>
@{
    ViewData["Title"] = "Index";
}

<h1> List of users </h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
            <td>Role</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicationUserRole in Model)
        {
            <tr>
                <td>@applicationUserRole.User.Id</td>
                <td>@applicationUserRole.User.Email</td>
                <td>
                    @foreach(var role in @applicationUserRole.UserRoles)
                    {
                        <p> @role </p>
                    }
                </td>
            </tr>

        }
    </tbody>
</table> 